@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    background-image: linear-gradient(to right,#B4BEC9, #159A9C);
}

main { 
    background-color: white;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 35, 51, 0.336);
}

h1{
    color: #002333;
    text-shadow: 1px 1px 1px #00141d;
}

h2 { 
    color: #04405c ;
}

p {
    text-align: justify;
}