@charset "UTF-8";

/* Configuração geral */

*{ 
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #1828a3;
    padding: 10px;
    text-align: center;
}