@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    font-family: var(--fonte-principal);
    font-weight: bold;  
    min-height: 100vh;

}

header{ 
    background-color: rgb(0, 0, 0);
    color: white; 
    text-align: center;
    padding: 60px 0px;
    font-family: var(--fonte1);
}

header h1{
    font-family: var(--fonte2);
    font-variant: small-caps;       
    margin-bottom: 10px;
    font-size: 10vw;
}

header a{
    color: white;
    text-decoration: none;
    font-family: var(--fonte1);
}

header a:hover{
    text-decoration: underline;
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
}

section{
    padding: 10vh 0px 10vh 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
    color: black;
    line-height: 2em;
}

#joaninha {
    background-image: url('./imagens/background001.jpg');
}

#livro {
    background-image: url('./imagens/background002.jpg');
}

.imagem{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 20px 0px 20px 20px;
}

.imagem > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    width: 35vw;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: var(--fonte1);
}