*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    font-family: var(--fonte-principal);
    font-weight: bold;
}

header{ 
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 60px;
    font-family: var(--fonte1);
}
header h1{
    font-size: 9em;
    font-family: var(--fonte2);
}

header a{
    color: white;
    text-decoration: none;
    font-family: var(--fonte1);
}

header a:hover{
    text-decoration: underline;
}

main {
    margin-bottom: 50px;

    width: 100%;
}

main p{
    font-family: var(--fonte3);
    font-size: 3em;
    margin: 40px 0px;
    color: black;
    padding: 50px;
    width: 50vh;

}

#joaninha{
    background-image: url('./imagens/background001.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
        padding: 20px;
}

#joaninha > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#livro{
    background-image: url('./imagens/background002.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

#livro > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: -20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: var(--fonte1);
}