@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
     background-color: gray;
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: rgb(146, 134, 134);
}

menu li {
    background-color: darkslategray;
    padding: 10px;
    display: inline-block;
    color: white;
}

article {
    width: 500px;
    display: block;
    margin: auto;
}