* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: block;
    background-color: darkred;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

img {
    width: 100vw;
}

a:hover {
    background-color: rgb(184, 10, 10);
    transition: background-color 0.2s;
    font-weight: bold;
}