@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    font: 1em;
}

main {
    background-color: lightgray;
    min-height: 100dvh;
}

.media-text, .text-media {
    background-color: darkgray;

    display: flex;
    align-items: center;

    /* border: 1px solid black;  */

}

.media-text {
    flex-flow: row wrap-reverse;
}

.text-media {
    flex-flow: row wrap;
}

.text {
    /* border: 1px solid black;  */

    flex: 1 1 800px;
}

.media {    
    /* border: 1px solid black;  */

    flex: 1 0 400px;

    display: flex;
    justify-content: center;
    padding: 20px;
}

iframe {
    flex: auto;
    height: 400px;
}


h1, p {
    padding: 10px;
}